kumuluzee:
  name: shopping-cart-service
  env:
    name: dev
  version: 1.0.0
  server:
    base-url: http://localhost:8080
    http:
      port: 8080
  datasources:
    - jndi-name: jdbc/ShoppingCartDS
      connection-url: jdbc:postgresql://localhost:5432/shopping-cart
      username: dbuser
      password: postgres
      pool:
        max-size: 1
  health:
    checks:
      data-source-health-check:
        jndi-name: jdbc/ShoppingCartDS
        type: liveness
  metrics:
    web-instrumentation:
      - name: shopping-cart-endpoint
        url-pattern: /v1/shopping-cart/*
  logs:
    config-file: '<?xml version="1.0" encoding="UTF-8"?>
                            <Configuration name="comments">
                                <Appenders>
                                    <Console name="console" target="SYSTEM_OUT">
                                        <PatternLayout pattern="%d %p %marker %m %X %ex %n"/>
                                    </Console>
                                    <Socket name="logstash" host="19df88b2-7195-4c74-a177-15522fddde1b-ls.logit.io"
                                    port="27827" protocol="udp">
                                        <JSONLayout complete="false" compact="true" eventEol="true" charset="UTF-8" properties="true"/>
                                    </Socket>
                                </Appenders>
                                <Loggers>
                                    <!-- Default logger -->
                                    <Root level="all">
                                        <AppenderRef ref="console" level="info" />
                                        <AppenderRef ref="logstash" level="trace" />
                                    </Root>
                                </Loggers>
                            </Configuration>'
  dev:
    scan-libraries:
      - shopping-cart-services
      - shopping-cart-models
      - shopping-cart-lib

rest-properties:
  maintenance-mode: false
  broken: false
